@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*Para telas que tenham até no maximo 601px, vai de 0px até 601 */
/*@media only screen and (max-width:601px){*/
	.main{
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: #FFFFFF;
		/*width: 100%;*/
		max-width: 500px;/*Redimenciona ate, no máximo 500px de largura*/
		border: 1px solid #E7E7E7;
		
		padding-top: 80px;/*Necessário devido os menus top e foot para não cortar os conteúdos*/
		margin-bottom: 50px;
	}

	/*top do site*/
	.box-top-menu{
		
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-items: center;
		position: fixed;
		top: 0px;
		z-index: 8;
		width: 100%;
		max-width: 500px;
		height: 60px;
		background-color: #FFFFFF;
		border: 0px solid #f89191;
		
   }
   .rigth-top-menu-itens{
	display: flex;
	/*border: 1px solid #E7E7E7;*/
	gap: 20px;
	padding-right: 50px;
   }
   .rigth-top-menu-itens a{
	text-decoration: none;
	color: #000000;
   }

   .left-top-menu-itens{
	display: flex;
	flex-direction: row;
	align-items: center;
	/*border: 1px solid #E7E7E7;*/
	gap: 4px;
	padding-left: 0px;
   }


 .top-info-updateFeeds{
	visibility: hidden;
	position: absolute;
	top: 60px;
	right:12px;
	width: 150px;
	height: 30px;
	border: 1px solid #aaaaaa;
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bolder;
 }

   

  /*foot do site*/
	.box-foot-menu{
		position: fixed;
		bottom: 0px;
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		align-items: center;
		z-index: 8;
		width: 100%;
		max-width: 500px;
		height: 60px;
		background-color: #FFFFFF;

		
	}
  /*fim topo do site*/
	.box-cad-user{
		    position: relative;
		    background-color: #FFFFFF;
		    height: 100%;
			max-width: 500px;
		    border: 1px solid #FFFFFF;
			display: flex;
			flex-direction: column;
		    justify-content: center;
		    align-items: center;
		
		}
	
	.container-user{
		border: 1px solid #FFFFFF;
		background-color: #FFFFFF;
		width: 90%;
	}
	.box-guia-modal-cad-user{
		position: absolute;
		visibility: visible;
		padding: 12px;
		background-color: #FFFFFF;
		border: 1px solid #f54974;;
		color: #f54974;
		font-family: sans-serif;
		width: 49%;
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.close-modal{
		position: absolute;
		padding: 10px;
		border: 1px solid #080808;
		color: #ffffff;
		background-color: #000000;
		left: 0px;
		top: 0px;
	}
	
	.carregar-foto{
		border: 0px;
		background-color: #000000;
		color: #FFFFFF;
		
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		
	}
	
	#userName{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/smile-icon-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
	}
	#userPassword{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url( "../images/layout/password-icon-01.png" );
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
	}
	
	#userBirthday{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/birthday-icon-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
	}
	#userSexo{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/sexo-icon-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
		width: 150px;
	}
	#userPhone{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/phone-icon-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
	}
	#userEmail{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/email-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 25px;/*Afasta um pouco o texto*/
		outline: none;
	}
	#userBio{
		border: 0px;
		background-color: #E7E7E7;
		background-image: url("../images/layout/bio-icon-01.png");
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding: 12px;
		text-indent: 20px;/*Afasta um pouco o texto*/
		outline: none;
	}
	
	#bt-enviar-cad-user{
		padding: 8px;
		background-color: steelblue;
		color: #FFFFFF;
		width: 100px;
		border: none;
		font-size: 18px;
	}
	
	
	.box-cad-user input{
		width: 100%;
	}

	.box-info-center{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 18px;
	}
	
	.box-geral-profile{
		display: flex;
		flex-direction: row;
        justify-content: space-between;
		padding: 16px;
		height: 150px;
	  /*border: 1px solid #66B7B3;*/
	}
	.box-info-tex-profile{
		display: block;
		justify-content: center;
		align-items: center;
		
		width: 250px;
	  /*border: 1px solid #e60707;*/
	}

	.text-info-name{
		font-size: 18px;
		font-weight: bold;
	}
	.text-info-bio{
		
		color: #aaaaaa;
		font-size: 16px;
		/*border: 1px solid #e60707;*/
		background-color: #FFFFFF;
		z-index: 3;
	}

    .box-moldura-profile{
		display: block;
		margin-left: auto;
		left: 10px;
		width: 97px;
		
	    /*border: 1px solid #e6ad11;*/
		background-repeat: no-repeat;
		background-position: 1px 1px;
		background-size: 95px;
		z-index: 1;

	}

    
	/*desenha a moldura redonda com img png*/
	.moldura-round-profile{
		display: block;
		width: 100px;
		height: 100px;
		background-image: url("../images/layout/moldure-profile-media-01.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 300px 300px;
		z-index: 2;
	}

	.box-action-profile{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 16px;
		gap: 8px;
		/*border: 1px solid #086c85;*/
	}
	.box-bt{
		display: flex;
		flex-direction: row;
		flex-grow: 1;/*distribui os elementos na largura igualmente*/
		justify-content: center;
		padding: 8px;
		background-color: #FFFFFF;
		border: 1px solid #aaaaaa;
		text-decoration: none;
		color: #000000;
	}

	.box-new-post{
		display: flex;
		flex-direction: column;
		padding: 16px;
	}
	.new-post-text{
		position: relative;
		font-size: 18px;
		padding: 4px;
		width: 100%;
		font-size: 14px;
		color: #aaaaaa;
		outline: none;
		border: none;
		
	}

	/*Estilizando lista de postagens do usuario - tela profile*/
	.box-post-list{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		border: 0px solid #f54974;
		
		
	}
	.box-iten-post{
		position: relative;
		height: 120px;
		
		border: 0px solid #61abf0;
		background-color: #ffffff;
		background-position: center;
		background-size: 199%;
		background-repeat: no-repeat;
		
		
	}

    .box-info-user-post{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #FFFFFF;
	   /*border: 1px solid #aaaaaa;*/
		padding: 8px;

	}
	.profile-info-left{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.box-info-text-left-profile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		/*border: 1px solid #f51010;*/
		font-weight: bold;
		font-size: 14px;
		margin-left: 6px;
	}
	.post-item-info-rigth{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		/*border: 1px solid #f51010;*/
		color: #aaaaaa;
		font-size: 14px;
		margin-left: 6px;
	}

	.box-image-user-post-item img{
		width: 100%;
		max-width: 500px;
		background-repeat: no-repeat;
	}
    .user-image-profile-top{
		background-repeat: no-repeat;
		background-position: 1px 1px;
		width: 70px;
		
	}

    
	.user-image-profile{
		background-repeat: no-repeat;
		background-position: 1px 1px;
		width: 80px;

		
	}

	.container-img-user{
		position: relative;
		height: 58px;
		width: 58px;
		border: 0px solid #61abf0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 61px;
	}

	.user-image-profile-feed{
		background-repeat: no-repeat;
		background-position: 1px 1px;
		width: 50px;
		
	}
	/*icone pequeno para post de mensagens(comentarios)*/
	.user-image-profile-feed-message{
		float: left;
		background-repeat: no-repeat;
		background-position: 1px 1px;
		width: 33px;
		
	}



	.bt-feed-publicar{
		text-decoration: none;
		padding-left: 8px;
		color: cornflowerblue;
		font-weight: bold;
	}

	.moldura-profile-pequena{
		display: block;
		width: 41px;
		height: 41px;
		background-image: url("../images/layout/moldure-profile-pequena-01.png");
		background-size: 41px 41px;
		background-repeat: no-repeat;
		background-position: center;
		
		z-index: 2;
	}


	.post-item-description{
		display: block;
		padding-left: 16px;
		background-color: #FFFFFF;
		padding-bottom: 12px;
	}

	.user-iten-bt-like{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 4px;
		margin-right: 5px;
		/*border: 1px solid #aaaaaa;*/
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		
	}

	.user-iten-bt-msg{			
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/*border: 1px solid #aaaaaa;*/
	}

   .feed-box-user-post-item{
	    
	    display: flex;
		flex-direction: column;
		background-color: #E7E7E7;
		padding-bottom: 18px;
   }
   #files{
	display: block;
	overflow: hidden;
	
   }

  #img-arquivo{
	display: block;
	overflow: hidden;
	width: 50%;
	
   }
  .box-user-post-settings{
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	/*border: 1px solid #E7E7E7;*/
	padding: 12px;
	padding-right: 20px;

  }

  .box-user-post-menu-expand{
	display:block ;
	visibility: hidden;
	z-index: 2;
	position: absolute;
	right: 50px;
	padding: 12px;
	background-color: #FFFFFF;
	border: 1px solid #c5c5c5;
  }
   
  .box-user-post-menu-expand a{
	display: block;
	width: 50px;
	float: left;
	padding: 8px;
	margin-right: 8px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	color: #FFFFFF;
	
  }
  .box-feeds-comentarios{
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: #FFFFFF;
  }
  .box-input-text-comentario{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin: 8px;
	border: 1px solid #E7E7E7;
	background-color: #E7E7E7;
  }
  .box-input-text-comentario input{
	outline: none;
	text-indent: 10px;
	padding: 8px;
	margin-left: 4px;
	background-color: transparent;

	border: none;
  }
  
  .title-feeds-messages{
	display: block;
	padding-left: 8px;
	font-weight: bolder;
  }
.box-container-message{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*border: 1px solid #f10000;*/
	padding: 8px;
}
.container-message-rigth{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	padding-left: 8px;
	padding-top: 8px;
}
.msg-user-neme-text-name{
	font-weight: bold;
	margin: 0;padding: 0;
}
.msg-user-neme-text-date{
	display: block;
	
	color: #c5c5c5;
	margin-top: 5px;
	font-size: 0.9em;
	
}
.container-message-rigth-actions{
	display: flex;
	position: relative;
	/*border: 1px solid #c5c5c5;*/
	padding: 8px;

}
.box-messasge-options-expand{
	position: absolute;
	visibility: hidden;
	padding: 8px;
	border: 1px solid #f89191;
	background-color: #ffd8d8;
	right: 50px;
}

.box-geral-search{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 50px;
}
.box-input-search input{
      outline: none;
	  font-size: 18px;
	  border: none;
	  border-bottom: 1px solid #f54974;

}
.box-searc-results{
	position: relative;
	margin-left: 8px;
}
.box-searc-results a{
	text-decoration: none;
	font-weight: bold;
	color: #080808;
	letter-spacing: 2px;
}

.box-resul-searc-list{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.searc-title-user-name{
	display: block;
	font-weight: bold;
	padding-left: 8px;
	font-size: 12px;
}
/*Teste Cortar imagem*/

.box-geral-img{
	display: flex;
	position: relative;
	width: 90%;
	height: 300px;
	border: 1px dotted #f54974;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.select-area-image{
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 100px;
	border: 2px solid #ffffff;
	background-color: transparent;

}

/*Notificações*/


.title-notifications{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bolder;
	padding-bottom: 20px;
}

.box-geral-notifications{
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	padding: 8px;
	padding-top: 50px;
}

.notification-lines{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	/*border: 1px solid #f54974;*/
	padding-bottom: 8px;
	font-size: 12px;
}
.notification-lines img{
	float: left;
}

.notifications-right-itens{
	display: block;
	
	
}

.img-user-notification-icon{
	margin-right: 8px;
}
/*Fecha estilo notificações*/


.attachment #upload{
	/*border: 1px solid #f54974;*/
	background-color: #FFFFFF;
	background-image: url("../images/layout/svg/attachment-01-inactive.svg");
	background-size: 26px;
	background-size: 26px 26px;
	background-repeat: no-repeat;
	background-position: -1px 12px;
	padding: 8px;
	padding-left: 0px;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	
}
.box-round-img-user{
	display: block;
	float: left;
	position: relative;
	border: 0px solid #ffd8d8;
	width: 41px;
	height: 40px;
	background-position: 1.5px 1.5px;
	background-repeat: no-repeat;
	margin-right: 12px;

}
.layer-roud-white-img-user-icon{
	position: absolute;
	border: 1px solid #ffffff;
	background-image: url("../images/layout/moldure-profile-media-01.png");
	background-size: 41px 41px;
	width: 41px;
	height: 41px;
	background-position: 0px 0px;
}


/*Teste Cortar imagem*/

/*}*/



/*Para telas com até o mínimo 600pixel, inicia com 600px até infinito */
/*
@media only screen and (min-width:601px){
	.main{
		background-color: #FFFFFF;
	}
}*/

